
{% load widget_tweaks %}

<form method="post"  id="#modal-form" action="{% url 'EcoMan:lca_process_update' form.instance.pk %}" class="js-object-update-form"  data-categories-url="{% url 'EcoMan:load_idemat_categories' %}" novalidate >
  {% csrf_token %}
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle"><b>Add new LCA Process</b></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger" role="alert">
                <h3>
                  You are allowed to edit this LCA Process. <br>
                  1. Edition will influence all analyses utilising this process. <br>
                  2. Edition can make this process invisible for some analyses utilising this process.
                </h3>
            </div>

            {% include 'modals/lca_process/lca_process_modal_content.html' %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
            <button type="submit" id="submit_button" class="btn btn-sm btn-primary" >Update</button>  
        </div>
      </div>
    </div>
</form>

  <script>
      $("#id_category_model").change(function () {
        var url = $("#modal-form").attr("data-categories-url");  // get the url of the `load_idemat_materials` view
        var categoryID = $(this).val();                               // get the selected database ID from the HTML input
        var groupID = $("#id_group_model").val();           // get the selected material group ID from the HTML input

        $.ajax({                                                      // initialize an AJAX request
        url: url,                                                   // set the url of the request (= localhost:8000/hr/ajax/load_idemat_materials/)
        data: {
            'group_id': groupID,       // add the country id to the GET parameters
            'category_id': categoryID,       // add the country id to the GET parameters
        },
            success: function (data) {   // `data` is the return of the `load_parts` view function
            $("#id_group_model").html("");
            $("#id_group_model").html(data);  // replace the contents of the material group input with the data that came from the server
            $("#id_subgroup_model").html(data);  // replace the contents of the material group input with the data that came from the server
                if ( isNaN( parseInt( $("#id_category_model").val() ) ) == false)  {
                    $('#id_group_model').attr("disabled", false);
                }
                if ( isNaN(parseInt($("#id_category_model").val() ) ) == true)  {
                    $('#id_group_model').attr("disabled", true);
                    $('#id_group_model').val("0")
                    $('#id_subgroup_model').attr("disabled", true);
                    $('#id_subgroup_model').val("0")
                }
            }
    });

    });
    $("#id_group_model").change(function () {
        var url = $("#modal-form").attr("data-categories-url");  // get the url of the `load_idemat_materials` view
        var categoryID = $("#id_category_model").val();
        var groupID = $(this).val();  // get the selected material group ID from the HTML input



      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load_idemat_materials/)
          data: {
            'category_id': categoryID,
            'group_id': groupID,       // add the country id to the GET parameters

        },
          success: function (data) {   // `data` is the return of the `load_parts` view function
            $("#id_subgroup_model").html("");
              $("#id_subgroup_model").html(data);  // replace the contents of the city input with the data that came from the server

                if (parseInt( $("#id_group_model").val() )  != 0) {
                    $('#id_subgroup_model').attr("disabled", false);


                }
                if (parseInt($("#id_group_model").val() )  == 0) {
                    $('#id_subgroup_model').attr("disabled", true);
                    $('#id_subgroup_model').val("0")
                    }
        }
      });

    });
    $("#id_subgroup_model").change(function () {
        var url = $("#modal-form").attr("data-categories-url");  // get the url of the `load_idemat_materials` view
        var categoryID = $("#id_category_model").val();
        var groupID = $(this).val();  // get the selected material group ID from the HTML input

                if (parseInt( $("#id_subgroup_model").val() )  != 0) {
                }
                if (parseInt( $("#id_subgroup_model").val() )  == 0) {
                    }

    });

  </script>
