{% load static %}
{% load filters %}


<div class="card my-3">
    <div class="card-body">                    
        <h3>Categories in:</h3> {{ html_dynamic_breadcrumb | safe }}
            <div class="row">
                <div class="col-md-2">
                    {% include "./current_category.html" %}      
                </div> 
                <div class="col-md-10">
                    <div class="row">
                {% if category_groups %}
                    {% for object in category_groups %}
                        {% if object.normparts_shared_components|check_project_instances:request > 0  %} 
                            <div class="card mx-3 my-1" style="width: 7rem; cursor: pointer" >
                                <div class="d-flex align-items-center">                 
                                    <div class="card-body p-1" >
                                        {% if object.logo %}
                                            <img class="card-img-top" src="{{object.logo.url}}" alt="No Logo"style="height:50px;  object-fit: contain;"/>
                                        {% else %}
                                            {% if object.normparts_shared_components|check_project_instances:request > 0  %} 
                                                <img class="card-img-top" src="{% static '/website/images/Norm_Part.png' %}" style="height:50px;  object-fit: contain;"/>
                                                <div class="card-img-overlay m-1 p-0" >
                                                    <h5 class="card-title">{{ object.normparts_shared_components|check_project_instances:request }}</h5>
                                                </div>
                                            {% else %}  
                                                <img class="card-img-top" src="{% static '/website/images/Norm_Part.png' %}" style="height:50px;  opacity:0.2; object-fit: contain;"/>
                                            {% endif %}                                                
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="card-footer p-1 " style="font-size: 12px; height:100%">
                                    {{ object.name }}                            
                                </div>
                                 <a  class="stretched-link category_group" value="{{ object.pk}}" data-url="{% url 'NormMan:load_content' %}">  </a>
                                 {% comment %}"{% url 'NormMan:NormPartsCategoryListView' object.pk%}" {% endcomment %}

                            </div>  
                        {% endif %}                 
                    {% endfor %}
                {% else %}   
                <div class="card animationoff mx-3 my-1" style="width: 7rem;" >
                    <div class="d-flex align-items-center">                 
                        <div class="card-body p-1" >
                            {% if category_group.logo %}
                            <img class="card-img-top" src="{{category_group.logo.url}}" alt="Analysis image not available"style="height:50px;  object-fit: contain;"/>
                            {% else %}
                            <img class="card-img-top" src="{% static '/website/images/Norm_Part.png' %}" style="height:50px;  object-fit: contain;"/>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer p-1 " style="font-size: 12px; height:100%">
                        {{ category_group.name }} </br> (bottom category)                            
                    </div>
                </div>                                               
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script type=text/javascript>   
    $(document).ready(function(){
        $(".category_group").click(function(){

          category_id = $(this).attr('value');

                      $.ajax({                       // initialize an AJAX request
                        type:'GET',
                        url: $(this).data('url'),                   
                        data: {
                        'trigger_id': "switch_category",      // trigger id help to identify which action was trigerred in modal window
                        'category_id': category_id,
                      },
                        success: function (data) {   // `data` is the return of the `load_parts` view function

                        $("#norm_parts").html(data.html_list_norm_parts);
                        $("#norm_parts_hits").html() ;
                        $("#norm_parts_hits").html(`Norm Parts (${data.norm_parts_hits})`) ;

                        $("#vehicle_components").html(data.html_list_vehicle_components);
                        $("#vehicle_components_hits").html() ;
                        $("#vehicle_components_hits").html(`Vehicle Components (${data.vehicle_components_hits})`) ;
                    
                        $("#sections").html(data.html_list_sections);
                        $("#sections_hits").html() ;
                        $("#sections_hits").html(`Vehicle Sections (${data.sections_hits})`) ;
                    

                        //update category selection box 
                        $("#category-container").html(data.html_category_groups);
                          
                        //update tree view
                        $('#jstree_vehicle_components').jstree(true).data = data.json_tree;
                        $('#jstree_vehicle_components').jstree(true).redraw();

                        }
                      });
        });
      });
</script>