
{% load static %}

<style type="text/css">

    .stlviewer {
        width: 100%;
        height: 100%;
        
        background: #00005F; /* Old browsers */
        background: -moz-linear-gradient(top,  #00005F 0%, #9797BE 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #00005F 0%,#9797BE 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #00005F 0%,#9797BE 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00005F', endColorstr='#9797BE',GradientType=0 ); /* IE6-9 */
        overflow: hidden;
      }
 </style>

<div class="container-fluid ">
    
    <div class="row">
        <div class="col-md-12">

            <div class="row-no-gutters">
                {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
                {% endif %}
                <div class="table-responsive w-100 d-block d-md-table">
                    <table class="table table-hover ">
                        <thead>
                            <tr >
                                <th >Preview:</th>
                                <th>Meta:</th>                                
                                <th>Physical</th>
                                <th>Parameters:</th>
                                <th>Supplier:</th>
                                <th>EDAG Notes:</th>
                                <th>Actions:</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            {% if workflows %}
                            {% for object in workflows %}
                            <tr>
                                <td >
                                   
                                            {% if object.thumbnail %}
                                                <img class="card-img-top" id="thumbnail_{{ object.UUID }}" src='{{ object.thumbnail.url }}' alt="Error: 404" style="width: 15rem; height: 100%; ">     
                                            {% else %}
                                                <img class="card-img-top" id="thumbnail_{{ object.UUID }}" src="{% static '/website/images/Part_Icon.png' %}" alt="Default" style="width: 15rem; height: 100%; ">
                                            {% endif %} 

                                            <div class="stlviewer" id = 'stlviewer_{{ object.UUID }}' style="display: none; position: relative; width: 15rem; height: 100%; " data-src="{{ object.stl_thumbnail.url }}"> </div>
                                        </td>
                       

 
                                <script type=text/javascript> 
                                    {% comment %} document.getElementById('thumbnail_{{ object.UUID }}').onmouseover = function() {
                                        document.getElementById('thumbnail_{{ object.UUID }}').style.display = "none";
                                        document.getElementById('stlviewer_{{ object.UUID }}').style.display = "block";                                       
                                        animate(document.getElementById('stlviewer_{{ object.UUID }}'))}; {% endcomment %}

                                            function set_preview_3D_visualisation(id) {
                                                document.getElementById('set_preview_picture_screenshot_' + id).classList.remove('active');                                                
                                                document.getElementById('set_preview_3D_visualisation_' + id).classList.add('active');  ;
                                                document.getElementById('thumbnail_' + id).style.display = "none";
                                                document.getElementById('stlviewer_' + id).style.display = "block";                                       
                                                animate(document.getElementById('stlviewer_' + id));
                                            };

                                            function set_preview_picture_screenshot(id) {
                                                document.getElementById('set_preview_3D_visualisation_' + id).classList.remove('active');                                                
                                                document.getElementById('set_preview_picture_screenshot_' + id).classList.add('active');  ;              
                                                document.getElementById('stlviewer_' + id).style.display = "none";                                                  
                                                document.getElementById('thumbnail_' + id).style.display = "block";
                                            };
                                            function set_preview_technical_drawing(id) {
                                                //document.getElementById('stlviewer_' + id).style.display = "none";                                                  
                                                //document.getElementById('thumbnail_' + id).style.display = "block";
                                            };                                            

                                </script>
                                <td rowspan="2">
                                   <b> Name: </b> {{ object.name }}<br>
                                   <b> Name DE:</b> {{ object.name_de }}<br>
                                    <b> UUID:</b> <br> {{ object.UUID }} <br>
                                    <b> Owner:</b> {{ object.owner }} <br>
                                    <b> Created:</b> {{ object.created_at }} <br>
                                    <b> Updated:</b> {{ object.updated_at }} <br>
                                    <b> Downloads: </b>{{ object.file_catia_part_counter }}

                                </td>                             
                                <td rowspan="2"> 
                                    <b> Material: </b>   {{ object.material }}<br>
                                    <b> Weight: </b>  {{ object.weight|floatformat:3 }}<br>
                                    <b> Density: </b> {{ object.density|floatformat:6 }}<br>

                                <td rowspan="2"> 
                                    {{ object.parameters }}

                                </td>

                                <td rowspan="2"> 
                                    <b> Supplier Name: </b>  {{ object.supplier_name }}<br>
                                    <b> Supplier Number: </b>  {{ object.supplier_part_number }}<br>
                                    <b> Reference OEM Name: </b>   {{ object.oem_reference_name }}<br>
                                    <b> Reference OEM Number: </b>   {{ object.oem_reference_part_number }}
                                </td>
                                <td rowspan="2"> 
                                    {{ object.notes }}

                                </td>
                                <td rowspan="2">
                                    <button type="button" class="btn btn-primary btn-block btn-sm js-boltmaterial-update " data-url=#> Details </button> <br>
                                    <a href="{% url 'NormMan:NormPartDownloadView' uuid=object.UUID%}" class="btn btn-block btn-success btn-sm " role="button" aria-pressed="true">Download .CATPart</a>     <br> 
                                    
                                    {% if object.parameters %}                                   
                                        {% comment %} <button type="button" id="{{ object.UUID }}" onclick = "CopyText(this.id,{{ object.parameters }})" class="btn btn-block btn-info btn-sm">Send To CAD </button>  {% endcomment %}
                                        <button type="button" id="#modal-window-xl" class="btn btn-warning btn-sm js-object-update " data-url="{% url 'NormMan:shared_component_quick_position_modal' %}">Send to CAD</button>
                                        {% comment %} <button type="button" id="{{ object.UUID }}" onclick = "CopyText(this.id,{{ object.parameters }})" class="btn btn-block btn-info btn-sm">Send To CAD </button>            {% endcomment %}
                                    {% else %}                                    
                                        <button type="button" id="{{ object.UUID }}" onclick = "CopyText(this.id, {'default' : true })" class="btn btn-block btn-info btn-sm">Send To CAD </button>                                      
                                    {% endif %}

                                </td>
                            </tr>

                            <tr>
                                <td >   
                                    <style>

                                        .button-box {
                                            display: grid;
                                            grid-template-columns: 55px 55px 55px ;
                                            grid-template-rows: 55px ;
                                            gap: 20px 20px;
                                            width: 100%%; 
                                            justify-content: center;
                                        }
                                        
                                        .button-box :first-child {
                                            align-self: stretch;

                                        }                            
                                    </style>             

                                    <div class="button-box ">                                                
                                        <button onclick="set_preview_technical_drawing('{{ object.UUID }}')" class="btn btn-light "  id="set_preview_technical_drawing_{{ object.UUID }}"  aria-pressed="true" data-toggle="tooltip" data-placement="top" title="Remove"  style="padding: 0px; height: 55px; width: 55px;" disabled>
                                            <img src="{% static '/website/images/Preview_Technical_Drawing.png' %}" width="55" style="margin-left: auto; margin-right: auto; display: block;" >
                                        </button>
                                        
                                        <button onclick="set_preview_3D_visualisation('{{ object.UUID }}')" class="btn btn-light"  id="set_preview_3D_visualisation_{{ object.UUID }}"  aria-pressed="true"  data-toggle="tooltip" data-placement="top" title="Remove"  style="padding: 0px; height: 55px; width: 55px;" > 
                                            <img src="{% static '/website/images/Preview_3D_Visualisation.png' %}" width="55" style="margin-left: auto; margin-right: auto; display: block;" >
                                        </button>

                                        
                                        <button  onclick="set_preview_picture_screenshot('{{ object.UUID }}')" class="btn btn-light active" id="set_preview_picture_screenshot_{{ object.UUID }}"  aria-pressed="true"  data-toggle="tooltip" data-placement="top" title="Remove"  style="padding: 0px; height: 55px; width: 55px;" >
                                            <img src="{% static '/website/images/Preview_Picture_Screenshot.png' %}" width="55" style="margin-left: auto; margin-right: auto; display: block;" >
                                        </button>                                                       
                                    </div>                             
                                </td>
                            </tr>

                            {% endfor %}
                            {% else %}

                            <tr>
                                <th>Table is empty</th>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type=text/javascript> 

        {% comment %} var canvas, canvass, raycaster, scene, camera, render, mousePosition, loader, mesh
        function animate(e) {
            // Necessary for camera/plane rotation
            var degree = Math.PI/180;

            // Setup
            canvass = e;
            canvas_id = 'canvas_' + e.id
            canvas = document.getElementById(canvas_id)
            if (canvas !=  null){
                return;
            };

            scene = new THREE.Scene();
            camera = new THREE.PerspectiveCamera(75, 300 / 300, 0.4, 1500);
            renderer = new THREE.WebGLRenderer({ antialias: true,  alpha: true  });
            rayCaster = new THREE.Raycaster();
            mousePosition = new THREE.Vector2();

            renderer.setSize(16 * 35, 16 * 35);
            renderer.autoClear = false;
            renderer.setClearColor(0x000000, 0.0);
            renderer.setPixelRatio( window.devicePixelRatio );
            renderer.domElement.id = 'canvas_' + e.id;
            canvass.appendChild(renderer.domElement);

            // Resize after viewport-size-change
            window.addEventListener("resize", function () {
                var height = 300;
                var width = 300;
                renderer.setSize(width, height);
                camera.aspect = width / height;
                camera.updateProjectionMatrix();
            });


            // ASCII file - STL Import
            loader = new THREE.STLLoader();

            loader.load( canvass.getAttribute("data-src"), function ( geometry ) {
                var material = new THREE.MeshLambertMaterial( { color: 0xD2D2FF } );
                geometry.center();
                mesh = new THREE.Mesh( geometry, material );
                mesh.position.set(0,0,0);
                mesh.name = "stlobject"
                var myObjects = new THREE.Object3D();
                myObjects.name = 'MyObj_s';
                myObjects.add( mesh );
                scene.add( myObjects );

            } );

            // Adding controls
            controls = new THREE.OrbitControls(camera, renderer.domElement);

            // Camera positioning
            camera.position.z = 100;
            camera.position.y = 100;
            camera.rotation.x = -55 * degree;
            // Ambient light (necessary for Phong/Lambert-materials, not for Basic)
            var ambientLight = new THREE.AmbientLight(0xffffff, 0.5);
            const spotLight = new THREE.SpotLight( 0xffffff );
            spotLight.position.set( 100, 100000, 100 );    
            spotLight.castShadow = true;
            
            spotLight.shadow.mapSize.width = 1024;
            spotLight.shadow.mapSize.height = 1024;
            
            spotLight.shadow.camera.near = 500;
            spotLight.shadow.camera.far = 4000;
            spotLight.shadow.camera.fov = 30;

            const spotLight2 = new THREE.SpotLight( 0xffffff );
            spotLight2.position.set( 100, -10000, -2500 );    
            spotLight2.castShadow = true;
            
            spotLight2.shadow.mapSize.width = 1024;
            spotLight2.shadow.mapSize.height = 1024;
            
            spotLight2.shadow.camera.near = 500;
            spotLight2.shadow.camera.far = 4000;
            spotLight2.shadow.camera.fov = 30;
            var setcolor = 0x6a8a9a0;
            scene.fog = new THREE.Fog(setcolor, 250, 600);
            //scene.background = new THREE.Color(setcolor);
            scene.add(ambientLight);
            scene.add(spotLight);
            scene.add(spotLight2);


            var startTime, endTime;
            function start() {
                startTime = new Date();
            };
            start();

            function end() {
                endTime = new Date();
                var timeDiff = endTime - startTime; //in ms

                var ms = Math.round(timeDiff);
                return ms
                }    

            

            // Draw scene
            var render = function () {
                // it is a spherical movement with fix Z coordinate,
                // but camera has to rotate along Z axis so as the focus point 
                // is always in the middle
                var mesh = scene.getObjectByName('stlobject');
                const t = end()/500;
                mesh.rotation.x = -Math.PI / 1.75 + Math.cos(t / 4) / 8
                mesh.rotation.y = Math.sin(t / 4) / 8
                mesh.rotation.z = (1 + Math.sin(t / 1.5)) / 20
        
                renderer.render(scene, camera);
            };

            // Run game loop (render,repeat)
            var GameLoop = function () {
                requestAnimationFrame(GameLoop);
                render();
            };

            // Listen for mouse moves
            canvass.addEventListener('click', function(event) {
                event.preventDefault();
                canvasPosition = canvass.getBoundingClientRect();
                mousePosition.x = ((event.clientX - canvasPosition.left) / canvasPosition.width) * 2 - 1;
                mousePosition.y = -((event.clientY - canvasPosition.top) / canvasPosition.height) * 2 + 1;
                console.log("X:" + mousePosition.x);        
                console.log("Y:" + mousePosition.y);               
                rayCaster.setFromCamera(mousePosition, camera);
                var stlobjecttocheck = scene.getObjectByName('MyObj_s').children
                var intersects = rayCaster.intersectObjects(stlobjecttocheck, true);
                
                if (intersects.length > 0) {
                    console.log(intersects[0].point);
                    return intersects[0].point;
                    }
            });

            GameLoop();
        
        } ; {% endcomment %}



  
    
</script>

<script type="text/javascript">
    function CopyText(clicked_id, object_parameter) {


        
        var json_data = object_parameter
        
        var json_output = {};
        json_output["UUID"] = clicked_id;
        json_output = Object.assign({}, json_output, object_parameter);


        navigator.clipboard.writeText(JSON.stringify(json_output));

        alert("Check Your CAD System. \nRequested file: " + `${clicked_id}`);
      }
</script>
