<b>EDAG Workflow Browser</b> is part of <b>EDAG CatiaFramework</b> Tool and allows user to view, manage, 
modify and further use Workflows. <b>Workflows</b> are template process descriptions with 
certain ammount of interactivity, which enables interactive and efficient way of solving/automising 
time consuming tasks. Workflows have pre-defined scope of definition and usage, they are composed of <b>stages</b> 
(process steps), <b>objects</b> (interactive results of process steps) and <b>actions</b> (activities that led to results).