
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDAG QLCA Report </title>

    <style>

        body {
  background: rgb(204,204,204); 
}

        h1 {
            text-align: left;
        }

        td, th {
            text-align: center;
        }

        .topimage {
        z-index: -1;
        position: relative;
        width:300px;
        }

       .img {
        width:300px;    
        box-shadow:inset 0px 0px 85px red;
        -webkit-box-shadow:inset 0px 0px 85px red;
        -moz-box-shadow:inset 0px 0px 85px red;
        }

    </style>

</head>
<body>
<div class="topimage" >

  <img src="/static/website/images/Background.jpg" alt="Project image not available" >
</div>


    <h1>EDAG QLCA Report</h1>
    <table >
        <thead>
            <tr>
                <th>Analysis ID</th>
                <th>Name</th>
                <th>Owner</th>
                <th>Signature Date</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>767758572184</td>
                <td>No Name</td>
                <td>hr63674</td>
                <td>Oct. 24, 2022, 3:06 p.m.</td>
            </tr>
        </tbody>
    </table>

    <h1>List of commodity parts</h1>
    <table>
        <thead>
            <tr>
                <th>Part ID</th>
                <th>Name</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>890212692165</td>
                <td>test part_clone_clone_clone</td>
                <td>45.0</td>
            </tr>
            
        </tbody>
    </table>
    <h1>List of parts for reference concept</h1>
    <table>
        <thead>
            <tr>
                <th>Part ID</th>
                <th>Name</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>770444238438</td>
                <td>test part_clone_clone</td>
                <td>45.0</td>
            </tr>
            
            <tr>
                <td>900554765095</td>
                <td>Not defined_clone_clone</td>
                <td>10.0</td>
            </tr>
            
            <tr>
                <td>301020727938</td>
                <td>test part_clone_clone_clone</td>
                <td>45.0</td>
            </tr>
            
            <tr>
                <td>696876797001</td>
                <td>Not defined_clone_clone</td>
                <td>10.0</td>
            </tr>
            
            <tr>
                <td>975801965528</td>
                <td>Not defined_clone_clone</td>
                <td>10.0</td>
            </tr>
            
        </tbody>
    </table>
    <h1>List of parts for reference concept</h1>
    <table>
        <thead>
            <tr>
                <th>Part ID</th>
                <th>Name</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>979217246477</td>
                <td>Right</td>
                <td>45.0</td>
            </tr>
            
            <tr>
                <td>277787912679</td>
                <td>Right_clone</td>
                <td>45.0</td>
            </tr>
            
            <tr>
                <td>837408897539</td>
                <td>Not defined_clone</td>
                <td>10.0</td>
            </tr>
            
            <tr>
                <td>409337804727</td>
                <td>Right_clone_clone</td>
                <td>45.0</td>
            </tr>
            
        </tbody>
    </table>
    <h1>Upstream</h1>
    <table>
        <thead>
            <tr>
                <th>Idemat ID</th>
                <th>Name</th>
                <th>Quantty</th>
                <th>Unit</th>
            </tr>
        </thead>
        <tbody>

            
            
            <tr>
                <td>A.040.03.102</td>
                <td>Idemat2022 Concrete blocks, light (439 kg/m3)</td>
                <td>0.0</td>
                <td>kg</td>
            </tr>
            
            <tr>
                <td>A.060.01.101</td>
                <td>Idemat2022 Aramid st gr</td>
                <td>4.0</td>
                <td>kg</td>
            </tr>
            
            
            
            <tr>
                <td>A.060.01.101</td>
                <td>Idemat2022 Aramid st gr</td>
                <td>4.0</td>
                <td>kg</td>
            </tr>
            
            
            
            <tr>
                <td>A.010.04.104</td>
                <td>Idemat2022 Potatoes, DE</td>
                <td>2.0</td>
                <td>kg</td>
            </tr>
            
            
            
            <tr>
                <td>A.010.04.104</td>
                <td>Idemat2022 Potatoes, DE</td>
                <td>2.0</td>
                <td>kg</td>
            </tr>
            
            
            
            <tr>
                <td>A.060.01.101</td>
                <td>Idemat2022 Aramid st gr</td>
                <td>4.0</td>
                <td>kg</td>
            </tr>
            
            
        </tbody>
    </table>

    <h1>Core</h1>
    <table>
        <thead>
            <tr>
                <th>Idemat ID</th>
                <th>Name</th>
                <th>Quantty</th>
                <th>Unit</th>
            </tr>
        </thead>
        <tbody>

            
            
            
            
            
            
            
            
            
            
            
        </tbody>
    </table>

    <h1>Downstream</h1>
    <table>
        <thead>
            <tr>
                <th>Idemat ID</th>
                <th>Name</th>
                <th>Quantty</th>
                <th>Unit</th>
            </tr>
        </thead>
        <tbody>

            
            
            
            
            
            
            
            
            
            
            
        </tbody>
    </table>

    <h1>Utilisation</h1>
    <table>
        <thead>
            <tr>
                <th>Idemat ID</th>
                <th>Name</th>
                <th>Quantty</th>
                <th>Unit</th>
            </tr>
        </thead>
        <tbody>

            
            
            
            
            
            
            
            
            
            
            
        </tbody>
    </table>
</page>


</body>
</html>