{% load static %}
{% load widget_tweaks %}





<form method="post" id="#modal-form" action="{% url 'CatiaFramework:workflow_object_instance_create_modal' uuid_object_template uuid_current_session %}" class="js-object-create-form" novalidate>
    
  {% csrf_token %}
        <div class="modal-header bg-warning text-white">
              <h5 class="modal-title" id="exampleModalLongTitle"><b>Add new Object Instance</b></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 border-right">   
                  <label for="id_name">Name</label>
                  {{ form.name|add_class:"form-control"}}
                  <span class="text-danger">{{ form.name.errors|striptags }}</span>

                  <label for="id_description">Description</label>
                  {{ form.description|add_class:"form-control"}}
                  <span class="text-danger">{{ form.description.errors|striptags }}</span>

              </div>
              <div class="col-md-6" >   
                <label for="id_selected_instance_uuid">Selected Object Instance UUID</label>
                {{ form.selected_instance_uuid|add_class:"form-control"}}
                <span class="text-danger">{{ form.selected_instance_uuid.errors|striptags }}</span>


            </div>
 
            </div>

            <div class="container container-md-fluid py-4 px-0">
              <div class="row ">    
                  <div class="col-auto col-md-12  ">
                      <div class="bc-icons-2 ">
                          <nav aria-label="breadcrumb " class="first" >
                              <ol class="breadcrumb indigo lighten-6 first  mb-5  navbar-light  mb-5 px-md-2">
                                  <li class="breadcrumb-item font-weight-bold font-italic" trigger="select_workflow_tab"><a class="black-text text-uppercase active-1 " href="#"><span class="mr-md-3 mr-2">Select Workflow</span></a><i class="fa fa-caret-right " aria-hidden="true"></i></li>
                                  <li class="breadcrumb-item font-weight-bold font-italic" trigger="select_session_tab"><a class="black-text text-uppercase" href="#"><span class="mr-md-3 mr-2">Select Workflow Session</span></a><i class="fa fa-caret-right text-uppercase " aria-hidden="true"></i></li>
                                  <li class="breadcrumb-item font-weight-bold font-italic" trigger="select_instance_tab"><a class="black-text text-uppercase" href="#"><span class="mr-md-3 mr-2">Select Object Instance</span></a><i class="fa fa-caret-right text-uppercase " aria-hidden="true"></i></li>
                                  <li class="breadcrumb-item font-weight-bold font-italic" trigger="select_summary_tab"><a class="black-text text-uppercase " href="#"><span>Summary</span></a></li>
                              </ol>
                          </nav>
                      </div>
                  </div>
              </div>
          </div>

            <div class="container-fluid" id="instance_selection_content">
              {% include 'modals/workflow_object_instance/workflow_index_for_modal.html' %}
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add to database</button>
        </div>
      </div>
    </div>
</form>



<script>

  function on_item_selection(div) { 

        var url = "{% url 'CatiaFramework:workflow_object_instance_next_tab' %}";  
        var workflow_id = "{{workflow.UUID}}";
        var session_id = "{{session.UUID}}";
        var instance_id = "{{instance.UUID}}";     

        var trigger = div.getAttribute('trigger');
        if(trigger ==='workflow_selected'){
          workflow_id =div.getAttribute('selection_UUID');
          sessionStorage.setItem("selected_workflow_id", workflow_id);
          sessionStorage.setItem("selected_session_id", "");   
          sessionStorage.setItem("selected_instance_id", ""); 
        }
        if(trigger ==='session_selected'){
          session_id =div.getAttribute('selection_UUID');      
          sessionStorage.setItem("selected_session_id", session_id);   
          sessionStorage.setItem("selected_instance_id", "");     
        }
        if(trigger ==='instance_selected'){
          instance_id =div.getAttribute('selection_UUID');     
          sessionStorage.setItem("selected_instance_id", instance_id);        
        }

        $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load_idemat_processs/)
            data: {
            'trigger': trigger,      // trigger id help to identify which action was trigerred in modal window
            'workflow_id': workflow_id,
            'session_id': session_id,
            'instance_id': instance_id,
        },
            success: function (data) {   // `data` 
            $("#instance_selection_content").html(data.html_session_index);  // replace the contents of the city input with the data that came from the server

            // Call the function to activate breadcrumb based on trigger attribute
            if (data.context.trigger) {
                
                var breadcrumb_name =""
                if (data.context.trigger==="workflow_selected"){ 
                  breadcrumb_name = "select_session_tab";
                }
                if (data.context.trigger==="session_selected"){ 
                  breadcrumb_name = "select_instance_tab";
                }
                if (data.context.trigger==="instance_selected"){ 
                  breadcrumb_name = "select_summary_tab";
                }
                var liElement = $('.first ol li[trigger="' + breadcrumb_name + '"]');
                activateBreadcrumb(liElement);
            }


            if(data) {
              if ( data.context && data.context.instance !== null && data.context.instance !== undefined) {
                $("#id_selected_instance_uuid").val(data.context.instance.UUID);
                $("#id_name").val(data.context.instance.name);
                $("#id_description").val(data.context.instance.description);
              }
            }
            }

          })
          };






function on_breadcrumb_click(div) { 
        var url = "{% url 'CatiaFramework:workflow_object_select_tab' %}";  
        var trigger = div.getAttribute('trigger');
        $.ajax({                       // initialize an AJAX request
          
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load_idemat_processs/)
            data: {
            'trigger': trigger,      // trigger id help to identify which action was trigerred in modal window
            'workflow_id': sessionStorage.getItem('selected_workflow_id'),
            'session_id': sessionStorage.getItem('selected_session_id'),
            'instance_id': sessionStorage.getItem('selected_instance_id'),
        },
            success: function (data) {   // `data` 
            $("#instance_selection_content").html(data.html_session_index);  
            }
          })
          };

$(document).ready(function () {
  sessionStorage.setItem("selected_workflow_id", "");
  sessionStorage.setItem("selected_session_id", "");   
  sessionStorage.setItem("selected_instance_id", ""); 
  $('.first ol li a').click(function () {
      $('.first ol li a.active-1').removeClass('active-1');
      $(this).closest('a').addClass('active-1');
      on_breadcrumb_click($(this).closest('li')[0]);

  });

});  

// Function to activate breadcrumb based on trigger attribute
function activateBreadcrumb(liElement) {
    if (liElement.length > 0) {
        // Remove active class from all anchor elements
        $('.first ol li a.active-1').removeClass('active-1');

        // Add active class to the anchor element inside the specified liElement
        liElement.find('a').addClass('active-1');

        // Call any additional function you need here
        // Example: on_breadcrumb_click(liElement[0]);
    } else {
        console.log("Breadcrumb not found for the specified trigger.");
    }
}



</script>

   <style>

    .first .container {
         margin-top: 0px;

       }
       
       .first ol {
         background-color: #d6d8db !important;
         margin-bottom: 0px !important;

       }
       
       
       .first a:hover {
         color: #ffffff !important;
       }
       
       .first .active-1 {
         color: rgb(0, 183, 255)  !important;
       }
       
       
       .first .breadcrumb>li+li:before {
         content: "" !important;
       }
       
       .first .breadcrumb {
         padding: 5px;
         font-size: 12px;
         color: #aaa !important;
         letter-spacing: 2px;
         border-radius: 2px !important;
       }
       
       
       
       .first .fa,
       .first i {
         color: rgb(0, 183, 255) !important;
         font-size: 10px;
       }
       
       
       
       
       .first a {
         text-decoration: none !important;
         color: #1b1919 !important;
       }
       
       .first a:focus,
       .first a:active {
         outline: none !important;
         box-shadow: none !important;
       }
       
       
       .first .fa-caret-right {
         vertical-align: middle;
         font-size: 20px !important;
       }
       
   </style>
