<div class="container-fluid materials-container">
    <div class="row">
        <div class="col-md-12">
            <div class="row-no-gutters">
                {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
                {% endif %}
            <div class="table-responsive w-100 d-block d-md-table">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Property:</th>
                            <th>Value:</th>
                            <th>Unit:</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% if object %}
                            <tr>
                                <td>Density:</td>
                                <td>{{ object.density }}</td>
                                <td>[g/dm³]</td>
                            </tr>
                            <tr>
                                <td>Modulus of elasticity in tension:</td>
                                <td>{{ object.moeit }}</td>
                                <td>[GPa]</td>
                            </tr>
                            <tr>
                                <td>Poisons Ratio:</td>
                                <td>{{ object.poisonsratio }}</td>
                                <td>[-]</td>
                            </tr>
                            <tr>
                                <td>Heat expansion coeficient:</td>
                                <td>{{ object.hec }}</td>
                                <td>[1/K]</td>
                            </tr>
                            <tr>
                                <td>Ultimate Tensile Strength, Su(Mpa):</td>
                                <td>{{ object.uts }}</td>
                                <td>[Mpa]</td>
                            </tr>
                            <tr>
                                <td>Yield strength, Sy(Mpa):</td>
                                <td>{{ object.ys }}</td>
                                <td>[Mpa]</td>
                            </tr>
                            <tr>
                                <td>Shear strength (Mpa):</td>
                                <td>{{ object.sh }}</td>
                                <td>[Mpa]</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <button type="button" class="btn btn-warning btn-sm js-boltmaterial-update " data-url=#> Edit </button>
            </div>
            </div>
        </div>
    </div>
</div>                  