{% load widget_tweaks %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        {% for field in form %}
                        {% if not field.field.disabled %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>

                        {% render_field field class="form-control" %}

                        {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        {% for field in form %}
                        {% if field.field.disabled %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>

                        {% render_field field class="form-control" %}

                        {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>