{% extends 'website/base.html' %}
{% load static %}
{% block Apps %}
<div class="container-fluid" id="objects-container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-10 border-right">
                <div class="row">
                    <div class="col-md-12 border-right">
                        <div class="row">
                            <div class="col-md-12">
                                <div href="#" class="list-group-item list-group-item-secondary my-1" onclick="toggleSelection(this)">
                                    <div class="container-fluid">
                                        <div class="row"> 
                                            <div class="col-md-10">
                                                <h3> Available Bolt-materials:</h3>
                                            </div>                      
                                        </div>   
                                    </div>                              
                                </div> 
                                <div class="list-group">
                                    {% if object_list %}
                                    {% for object in object_list %}                                    
                                    <div href="#" class="list-group-item list-group-item-action my-1" onclick="toggleSelection(this)">
                                        <div class="row">                
                                            <div class="col-md-10 w-auto ms-auto"> 
                                                <div class="row">     
                                                    <div class="col-md-1 w-auto ms-auto">  
                                                        ID:   {{ object.id }}       
                                                    </div>
                                                    <div class="col-md-1 w-auto ms-auto">  
                                                        Name:   {{ object.name }}       
                                                    </div>
                                                    <div class="col-md-1 w-auto ms-auto">  
                                                        AISI:   {{ object.aisi }}      
                                                    </div>  
                                                    <div class="col-md-1 w-auto ms-auto">  
                                                        DIN:   {{ object.din }}      
                                                    </div>                                                            
                                                    <div class="col-md-1 w-auto ms-auto">  
                                                        Poisons Ratio:  {{ object.poisonsratio }}    
                                                    </div>  
                                                    <div class="col-md-1 w-auto ms-auto">  
                                                        Modulus of elasticity in tension: {{ object.moeit }}    
                                                    </div>   
                                                    <div class="col-md-1 w-auto ms-auto">  
                                                        Heat expansion coeficient:  {{ object.hec }}   
                                                    </div>      
                                                    <div class="col-md-1 w-auto ms-auto">  
                                                        Density:  {{ object.density }}   
                                                    </div>   
                                                    <div class="col-md-1 w-auto ms-auto">  
                                                        Ultimate Tensile Strength, Su(Mpa)y:  {{ object.uts }}   
                                                    </div> 
                                                    <div class="col-md-1 w-auto ms-auto">  
                                                        Yield strength, Sy(Mpa):  {{ object.ys }}   
                                                    </div>    
                                                    <div class="col-md-1 w-auto ms-auto">  
                                                        Permitted pressure under bolt head (Mpa):  {{ object.ppubh }}   
                                                    </div>       
                                                    <div class="col-md-1 w-auto ms-auto">  
                                                        Shear strength (Mpa):  {{ object.sh }}   
                                                    </div>                                                                                                                                                             
                                                
                                                </div>                                                                                                                                     
                                            </div>
                                            <div class="col-md-2 w-auto ms-auto">
                                                <button type="button" 
                                                    class="btn btn-primary btn-sm js-boltmaterial-update "
                                                    data-url=#>
                                                    Edit
                                                </button>
                                            <button type="button" 
                                                class="btn btn-danger btn-sm js-boltmaterial-update "
                                                data-url=#>
                                                Delete
                                            </button>
                                                </div>
                                            </div>
                                        </div>                
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                    
                                </div>
                            </div>
                        </div>                            
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="sticky-top">
                        {% include "website/current_project.html" %}
                    </div>
                </div>
            </div>               
        </div>
    </div>
</div>

{% endblock Apps %}
