{% load static %}

<div class="card animationoff my-1">
    <div class="card-body">                    
        <h3>Categories in:</h3> {{ html_dynamic_breadcrumb | safe }}
            <div class="row">
                <div class="col-md-2">
                    {% include "./current_category.html" %}      
                </div> 
                <div class="col-md-10">
                    <div class="row">
                {% if category_groups %}
                    {% for object in category_groups %}
                            <div class="card mx-3 my-1" style="width: 7rem; cursor: pointer" >
                                <div class="d-flex align-items-center">                 
                                    <div class="card-body p-1" >
                                        {% if object.logo %}
                                            <img class="card-img-top" src="{{object.logo.url}}" alt="No Logo"style="height:50px;  object-fit: contain;"/>
                                        {% else %}
                                            {% if object.dotnet_components.count > 0  %} 
                                                <img class="card-img-top" src="{% static '/website/images/Norm_Part.png' %}" style="height:50px;  object-fit: contain;"/>
                                                <div class="card-img-overlay m-1 p-0" >
                                                    <h5 class="card-title">{{ object.dotnet_components.count }}</h5>
                                                </div>
                                            {% else %}  
                                                <img class="card-img-top" src="{% static '/website/images/Norm_Part.png' %}" style="height:50px;  opacity:0.2; object-fit: contain;"/>
                                            {% endif %}                                                
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="card-footer p-1 " style="font-size: 12px; height:100%">
                                    {{ object.name }}                            
                                </div>
                                 <a  class="stretched-link category_group" value="{{ object.pk}}" data-url="{% url 'CatiaFramework:load_content' %}">  </a>

                            </div>                   
                    {% endfor %}
                {% else %}   
                <div class="card animationoff mx-3 my-1" style="width: 7rem;" >
                    <div class="d-flex align-items-center">                 
                        <div class="card-body p-1" >
                            {% if category_group.logo %}
                            <img class="card-img-top" src="{{category_group.logo.url}}" alt="Analysis image not available"style="height:50px;  object-fit: contain;"/>
                            {% else %}
                            <img class="card-img-top" src="{% static '/website/images/Norm_Part.png' %}" style="height:50px;  object-fit: contain;"/>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer p-1 " style="font-size: 12px; height:100%">
                        {{ category_group.name }} </br> (bottom category)                            
                    </div>
                </div>                                               
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script type=text/javascript>   
    $(document).ready(function(){
        $(".category_group").click(function(){

          category_id = $(this).attr('value');

                      $.ajax({                       // initialize an AJAX request
                        type:'GET',
                        url: $(this).data('url'),                   
                        data: {
                        'trigger_id': "switch_category",      // trigger id help to identify which action was trigerred in modal window
                        'category_id': category_id,
                      },
                        success: function (data) {   // `data` is the return of the `load_parts` view function                        
                        $("#vbdotnet_methods").html(data.html_list_vbdotnet_methods);
                        $("#vbdotnet_methods_hits").html() ;
                        $("#vbdotnet_methods_hits").html('3: VB.Net Methods; hits: ' + data.vbdotnet_methods_hits) ;

                        $("#vbdotnet_classes").html(data.html_list_vbdotnet_classes);
                        $("#vbdotnet_classes_hits").html() ;
                        $("#vbdotnet_classes_hits").html('3: VB.Net Classes; hits: ' + data.vbdotnet_classes_hits) ;

                        $("#vbdotnet_modules").html(data.html_list_vbdotnet_modules);
                        $("#vbdotnet_modules_hits").html() ;
                        $("#vbdotnet_modules_hits").html('3: VB.Net Modules; hits: ' + data.vbdotnet_modules_hits) ;

                        //update category selection box 
                        $("#category-container").html(data.html_category_groups);
                          
                        }
                      });
        });
      });
</script>