<div class="container">
    <section class="mx-auto my-5" style="max-width: 23rem;">

        <div class="card testimonial-card mt-2 mb-3">
            <div class="card-up aqua-gradient"></div>
            <div class="avatar mx-auto white">
                <i class="fas fa-user-ninja"></i>
            </div>
            <div class="card-body text-center">
                <h4 class="card-title font-weight-bold">Chris Bellingwout</h4>
                <hr>
                <p>
                    E-Mail: chris.bellingwout@edag.com
                </p>
            </div>
        </div>

    </section>
</div>

<div class="container">
    <section class="mx-auto my-5" style="max-width: 23rem;">

        <div class="card testimonial-card mt-2 mb-3">
            <div class="card-up aqua-gradient"></div>
            <div class="avatar mx-auto white">
                <!--<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle img-fluid"
    alt="woman avatar">-->
                <i class="fas fa-user-astronaut"></i>
            </div>
            <div class="card-body text-center">
                <h4 class="card-title font-weight-bold">Hubert Rybak</h4>
                <hr>
                <p>
                    E-Mail: hubert.rybak@edag.com
                </p>
            </div>
        </div>

    </section>
</div>
